/* Falta muita coisa, deixei as propriedades em branco para lembrar depois*/
/* General styles*/
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #6a55c2;
    font-family: "Arial Black", sans-serif;
}

a {
    color: #6a55c2;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
}

a:hover {
    color: #4e398f;
}

/* Header styles */
header {
    background-color: #6a55c2;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    background: linear-gradient(45deg, #6a55c2, #2a156b);
    background-size: 200% 200%;
    animation: gradient-shift 5s ease infinite;
    -webkit-animation: gradient-shift 10s ease infinite;
}

@keyframes gradient-shift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 10px;
    background: rgba(0, 0, 0, 0.1);
}

header::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 10px;
    background: rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

/* main styles */
main {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

article h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

article p {
    margin-bottom: 10px;
    line-height: 1.5;
}

/* footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
